#histogramImage {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: red;
}

#myImageView {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: red;
}

#uploadButton {
    -fx-background-color: #f0e8ff; /* Background color */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: #000000; /* Text color */
    -fx-border-color: #000000; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 5px; /* Padding */
}

#testButton {
    -fx-background-color: #f0e8ff; /* Background color */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: #000000; /* Text color */
    -fx-border-color: #000000; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 5px; /* Padding */
}