/* General styling for the application */
.root {
    -fx-background-color: #f0f0f0;
    -fx-font-family: 'Inter';
}

/* Styling for buttons */
.button {
    -fx-background-color: linear-gradient(#3958b5, #4a67d6);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-color: #3958b5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.button:hover {
    -fx-background-color: linear-gradient(#4a67d6, #3958b5);
}

/* Styling for text fields */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #3958b5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 5;
}

/* Styling for labels */
.label {
    -fx-text-fill: #3958b5;
    -fx-font-weight: bold;
}

/* Specific styling for sliders */
.slider .track {
    -fx-background-color: #3958b5;
}

.slider .thumb {
    -fx-background-color: #4a67d6;
    -fx-border-color: #3958b5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

/* Styling for apply buttons */
.apply-button {
    -fx-background-color: linear-gradient(#3958b5, #4a67d6);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 5 10;
    -fx-border-color: #3958b5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.apply-button:hover {
    -fx-background-color: linear-gradient(#4a67d6, #3958b5);
}

/* Styling for larger buttons */
.large-button {
    -fx-background-color: linear-gradient(#4a67d6, #3958b5);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-border-color: #3958b5;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.large-button:hover {
    -fx-background-color: linear-gradient(#3958b5, #4a67d6);
}